<section class="flight-list">
  <div class="container">
    <h1 class="text-center">Flights</h1>
    <div class="row">
      <% @flights.each do |flight| %>
        <div class="col-xs-4">
           <div class="card">
             <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= image_path(flight.photo) %>');">
                <h3><%= flight.company.name %></h3>
                <h2><%= flight.price_string %></h2>
                <%= cl_image_tag(flight.company.photo, class: 'avatar') %>
              </div>
              <div class="card-fotter">
                <p><%= flight.route %></p>
                <p class="info">
                  <span><%= flight.flight_date %></span>
                  <span>Seats:<%= flight.available_seat%></span>
                </p>
              </div>
              <% if policy(flight).show? %>
                <%= link_to '', flight_path(flight), class: 'card-link' %>
              <% end %>
           </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

