<section class="flight-show">
  <%= cl_image_tag( @flight.photo, width: 550, height: 400, crop: :fill, class: "card_image") %>
  <div class="container">
    <div class="row col-md-10">
      <div class="col-md-10">
      <div class="card-info col-md-offset-1">
        <h1><strong><%= @flight.origin %></strong> to <strong><%= @flight.destiny %></strong>
        <h2>Date: <%= @flight.date %></h2>
        <p>Company: <%= @flight.company.name %><p>
        <p>Seats available: <%= @flight.available_set %> seats</p>

        <div class="info-display">
          <p>Informations: <br> <%= @flight.description %></p>
        </div>
        <div>
          <p><strong>R$ <%= @flight.price %></strong></p>
        </div>
      <div class="buttons_show text-right col-md-10">
        <%= link_to 'Back to Flights', @flight.your_owner?(current_user) ? company_path : flights_path, class: "btn btn-primary" %>
        <% if policy(@flight).edit? %>
          <%= link_to "Edit Flight", edit_flight_path(@flight), class: "btn btn-primary" %>
        <% end %>
        <% if policy(@flight).destroy? %>
          <%= link_to "Delete Flight", flight_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <% end %>
        <% if policy(@flight.orders.build).new? %>
          <%= link_to 'Buy', new_flight_order_path(@flight), class: "btn btn-primary" %>
        <% end %>
      </div>
      </div>
      </div>
    </div>
  </div>
</section>
