
<% if policy(@flight).destroy? %>
  <%= link_to "Delete", flight_path, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>


<h1><%= @flight.company.name %></h1>
<h3><strong>From:</strong> <%= @flight.origin %></h3>
<h3><strong>To:</strong> <%= @flight.destiny %></h3>
<p>Date: <%= @flight.date %></p>
<p>Flight capacity: <%= @flight.capacity %> passengers.</p>
<p><strong>R$ <%= @flight.price %></strong></p>
<p>Informations: <br> <%= @flight.description %></p>
