 <div id="order" class="card form-container">
    <div class="header">
      <div class="header-row">
        <div class="big-bold" id="price" data-amount-cents="<%= flight.price %>"
          data-price-unit="<%= flight.price_unit %>">
          <%= flight.price_string %>
        </div>
        <div class="small-light"> / Seats</div>
      </div>
      <p>Avalible seats: <span id="available_seat" data-limit="<%= flight.available_seat %>"><%= flight.available_seat %></span> </p>
    </div>

    <div class="flex-between">
      <span>Seats:</span>
      <div class="actions" id="actions">
        <a href="#/" class="btn btn-round incrementer minus" disabled data-offset="-1">-</a>
        <span id="counter" data-count="1">1</span>
        <a href="#/" class="btn btn-round incrementer plus" data-offset="1">+</a>
      </div>
    </div>

   <%= simple_form_for [@flight, @order] do |f| %>
      <%= f.input :passenger_number, label: false,as: :hidden ,:input_html => { :value => "1" } %>
      <% if flight.available_seat > 0%>
      <%= f.button :submit, "Pay #{flight.price_string}" ,class: 'submit btn btn-danger',:input_html => { value: "1" }%>
      <% end %>
    <% end %>
</div>
