<section>
  <div class="container">
    <h1 class="text-center">My Flights</h1>
    <div class="row">
      <% @company.flights.each do |flight| %>
      <div class="col-xs-4">
        <div class="card-trip">
          <img src="https://www.bjtonline.com/sites/bjtonline.com/files/styles/bjt30_article_large/public/phenom-100-1.jpg?itok=Qwrj1793&timestamp=1482934081">
          <div class="card-trip-infos">
            <div>
              <h2><%= flight.origin %> to <%=flight.destiny %></h2>
              <p><%= flight.description %></p>
            </div>
            <h2 class="card-trip-pricing">R$ <%= flight.price %></h2>
            <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
          </div>
          <div>
            <% if policy(flight).destroy? %>
              <%= link_to "Delete", flight_path(flight), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
            <% end %>
            <% if policy(flight).edit? %>
              <%= link_to "Edit", edit_flight_path(flight), class: 'btn btn-primary' %>
            <% end %>
             <% if policy(flight).show? %>
              <%= link_to "Show", flight, class: 'btn btn-primary' %>
            <% end %>
            </div>
        </div>
      </div>
      <% end %>
    </div>
    <div>
      <% if policy(Flight).new? %>
        <%= link_to 'Add Flight', new_flight_path , class: 'btn btn-primary' %>
      <%end %>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="card-order">
      <h2>My company's orders</h2>

    </div>
  </div>
</section>
