<section class="company-show">
  <div class="container">
    <h2 class="text-center  "><strong><%= @company.name %></strong> Flights</h2>
    <div class="row">
      <% @company.flights.each do |flight| %>
        <div class="col-xs-4" data-flight-id="<%= flight.id %>">
          <div class="card">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= image_path(flight.photo) %>');">
              <div class="action">
                <% if policy(flight).destroy? %>
                  <%= link_to flight_path(flight), method: :delete, data: { confirm: "Delete this flight?", 'confirm-button-text': 'Yes',
                      'cancel-button-text': 'No', 'confirm-button-color': '#EE5F5B', 'sweet-alert-type': 'info',
                      'image-url': image_path(flight.photo) }, remote: true do %>
                    <i class=" delete-btn fas fa-trash"></i>
                  <% end %>
                <% end %>
              </div>
              <h2><%= flight.billed %></h2>
            </div>
            <div class="card-fotter">
              <p><%= flight.route %></p>
              <p class="info">
                <span><%= flight.flight_date %></span>
                <span>Available Seats: <%= flight.available_set%>/<%= flight.capacity %> </span>
              </p>
            </div>
            <% if policy(flight).edit? %>
              <%= link_to '', edit_flight_path(flight), class: 'card-link' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if policy(Flight).new? %>
      <%= link_to '', new_flight_path , class: "btn-float fa fa-plus" %>
    <%end %>
  </div>
</section>
